.form__image {
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.form__image__img {
    width: 100%;
}

